{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" action="{% url 'appointments:appointments'%}">
    {% csrf_token %}
    <dev style="display:flex;flex-direction:column;">
    {{form|crispy}}
    </dev>
    <button type="submit"> Create Appointment</button>


    </form>



    {% csrf_token %}
    <button  class="btn btn-primary btn-lg" style="position:absolute; right:50px; top:140px;" ><a href="{% url 'appointments:your_appointments'%}"> Show Your Appointments</a></button>



{% endblock content %}