{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<h1>BLOG Detail</h1>

    <div >
       <h3>{{ article.title }}</h3>

        <span>{{article.text}}</span>
        <p>posted by: {{ article.author }}</p>
        </div>
{% if user ==  article.author%}
<button class="btn btn-warning"><a href="{% url 'blog:update' article.id %}">Update</a></button>
<button class="btn btn-danger"><a href="{% url 'blog:delete' article.id %}">Delete</a></button>

{% endif %}


{% endblock content %}